<!--=============================Extending the base template=================-->

{% extends 'LDMSApp/base.html' %}

<!--=============================End of Extension=============================-->


<!--=============================Beginning of Title Block=====================-->
{% block title %}
LDMS | Home
{% endblock title %}
<!--=============================End of title Block=============================-->

<!--=============================Beginning of Content Block=====================-->
{% block content %}
<section class="bg-warning m-5 pt-5 pb-5">
	<div class="container-fluid d-flex justify-content-center m-5">
		<a href="#" title="starting tls" class="text-decoration-none">Start TLS</a>
	</div>
</section>
{% endblock content %}
<!--=============================End of Content Block=============================-->