<!--=============================Extending the base template=================-->

{% extends 'LDMSApp/base.html' %}
{% load crispy_forms_tags %}
<!--=============================End of Extension=============================-->


<!--=============================Beginning of Title Block=====================-->
{% block title %}
LDMS | Lab-sign-up
{% endblock title %}
<!--=============================End of title Block=============================-->

<!--=============================Beginning of Content Block=====================-->
{% block content %}
<section class="container my-3 bg-light">
	<div class="text-center">
		<legend class="text-capitalize fw-bolder mt-2 text-decoration-underline text-success">get hooked on to delivery requests at the comfort of your home</legend>
		<small class="bg-info fw-bold text-danger p-2">Make an investment that counts</small>
	</div>
	<div class="mt-4 d-flex justify-content-center align-items-center">
		<form method="post">
    		{% csrf_token %}
    		<div class="form-group col-12 p-4 shadow text-primary fw-bolder">
        	{{ form|crispy }}
      		</div>
    		<div class="d-flex justify-content-center">
    			<button type="submit" class="btn btn-primary my-2">Proceed to Pay</button>
    		</div>
 		</form>
	</div>
</section>
{% endblock content %}
<!--=============================End of Content Block=============================-->