<!--=============================Extending the base template=================-->

{% extends 'LDMSApp/base.html' %}

<!--=============================End of Extension=============================-->


<!--=============================Beginning of Title Block=====================-->
{% block title %}
LDMS | Get Account
{% endblock title %}
<!--=============================End of title Block=============================-->

<!--=============================Beginning of Content Block=====================-->
{% block content %}
<h1>This is our accounts page</h1>
{% endblock content %}
<!--=============================End of Content Block=============================-->