<!--=============================Extending the base template=================-->

{% extends 'LDMSApp/base.html' %}
{% load crispy_forms_tags %}
<!--=============================End of Extension=============================-->


<!--=============================Beginning of Title Block=====================-->
{% block title %}
LDMS | Logged out
{% endblock title %}
<!--=============================End of title Block=============================-->

<!--=============================Beginning of Content Block=====================-->
{% block content %}
<section class="container my-3 bg-light">
	<div class="mt-4 d-flex justify-content-center align-items-center">
		<small class="text-muted  text-white">
			Don't have an account?
			<a href="{% url 'login' %}" class="text-success">Sign In</a>
		</small>
	</div>
</section>
{% endblock content %}
<!--=============================End of Content Block=============================-->