{% extends 'LDMSApp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}Ulas|Login{% endblock %}
{% block content %}
<section class="mt-1 mb-5 pb-5">
    <div class="container mb-5 mt-5">
        <div class="row bg-light d-flex justify-content-center py-4">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <p>Enter Your Email to request a password reset</p>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="text-success">
                            {{form|crispy}}
                            <div class="text-center mt-3">
                                <button class="btn btn-danger text-capitalize" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
